header{
    position: relative;
    background: white;
    padding: 0;
    border-bottom: 1px solid palevioletred;
  }
  
  a{
    color:plum;
  }
  
  a:hover{
    background:plum;
    color: white;
    cursor: pointer;
  }
  
  .container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  a.logo{
    font-weight: bold;
    padding: 1rem;
  }
  
  ul{
    display: flex;
    list-style-type: none;
    margin: 0;
  }
  
  ul a{
    padding: 1rem;
    display: inline-block;
  }
  
  

  