<footer *ngIf="isMenuRequire">
    <section id="newsletter" class="section-p1">
        <div class="newstext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail updates about latest products and <span>special offers.</span></p>
        </div>
        <div class="form">
            <input text="text" placeholder="Your email address">
            <button class="normal">Sign Up</button>
    </div>
    </section>
    <section>    
            <div id="containerFooter">
                
                <div id="webFooter">
                    <h3> Online store </h3>
                    <p> Vegetables </p>
                    <p> Fruits </p>
                    <p> Munchies </p>
                    <p> Stationary</p>
                </div>
                <div id="webFooter">
                    <h3> Helpful links </h3>
                    <p> home </p>
                    <p> about </p>
                    <p> contact </p>
                    <p>Secure Payment Gateways</p>
                    <img src="/assets/images/pay.png" alt>
                </div>
                <div id="webFooter">
                    <h3>Partners </h3>
                    <p> ITC</p>
                    <p> Cadbury </p>
                    <p> Nestle </p>
                    <p> MTR </p>
                    <p> + many more </p>
                </div>
                <div id="webFooter">
                    <h3> Address </h3>
                    <p> building 3A </p>
                    <p> Mindspace</p>
                    <p> Opposite IKEA </p>
                    <p> Hyderabad</p>
                </div>
            </div>
            <div id="credit"><a href="https://linkedin.com/in/vishal-golkonda"> © Vishal Golkonda </a>|<a href="#" target="_blank"> ZEPTO </a></div>
        </section>
</footer>

