
#containerFooter
{
    width: 100%;
    background-color: #ed3968;
    color: white;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 15px;
    padding: 15px 300px;
    box-sizing: border-box;
}
#containerFooter h3:hover, #containerFooter p:hover
{
    color: black;
    cursor: pointer;
}
#webFooter
{
    padding-top: 30px;
    font-size: 12px;
}
#credit 
{
    width: 100%;
    margin: auto;
    padding: 20px 0;
    text-align: center;
    background-color: #ed3968;
    color: white;
    font-size: 11px;
    letter-spacing: 1px;
}

#credit a
{
    color: white;
    text-decoration: none;
    position: relative;
}
#credit a::after
{
content: "";
background: white ;
mix-blend-mode: exclusion;
width: calc(100% + 18px);
height: 0;
position: absolute;
bottom: -4px;
left: -10px;
transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#credit a:hover::after
{
    height: calc(100% + 8px)
}


@media(max-width: 1350px)
{
    #containerFooter
    {
        padding: 15px 200px;
    }
}
@media(max-width: 1166px)
{
    #containerFooter
    {
        padding: 15px 100px;
    }
}
@media(max-width: 950px)
{
    #containerFooter
    {
        padding: 15px 50px;
    }
}
@media(max-width: 850px)
{
    #containerFooter
    {
        font-size: 13px;
    }
    #webFooter
    {
        font-size: 10px;
    }
}
@media(max-width: 750px)
{
    #containerFooter
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 15px 100px;
    }
    #webFooter
    {
        padding: 15px 20px;
    }
}
@media(max-width: 540px)
{
    #containerFooter
    {
        padding: 0 25px;
    }
}

#newsletter{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
    background-repeat: no-repeat;
    background-position:20% 30%;
    background-color:#041e42;
}

#newsletter h4{
    font-size:22px;
    font-weight:700;
    color:#fff;
}

#newsletter p{
    font-size:14px;
    font-weight:600;
    color:#fff;
}
#newsletter .form{
    display:flex;
    width:40%;
}
#newsletter p span{
    color:#ffbd27;

}

#newsletter input{
    height:3.125rem;
    padding:0 1.25em;
    font-size: 14px;
    width:100%;
    border:1p solid transparent;
    border-radius: 4px;
    outline:none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #ed3968;
    color:#fff;
    white-space:nowrap; 
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

