<app-not-found [visible]="!cart || cart.count.length <=0"
notFoundMessage="Cart Page Is Empty!"
resetLinkText="Go To Homepage"
>
</app-not-found>
<div *ngIf="cart && cart.count.length >0" class="container">
    <ul>
    <li *ngFor="let cartItem of cart.count">
        <div>
            <img [src]="cartItem.items.image" [alt]="cartItem.items.name">
        </div>
        <div>
            <a routerLink="/items/{{cartItem.items.Itemid}}">
                {{cartItem.items.name}}
            </a>
        </div>

        <div>
            <select #quantitySelect (change)="changeQuantity(cartItem,quantitySelect.value)">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div>
            {{cartItem.price | currency}}
        </div>

        <div>
            <button class="remove-button" (click)="removeFromCart(cartItem)">
                Remove
            </button>
        </div>
    </li>
</ul>

<div class="checkout">
    <div>
        <div class="foods-count">{{cart.count.length}}</div>
        <div class="total-price">{{cart.totalPrice| currency}}</div>
    </div>
</div>
</div>
