<!--<mat-card>
    <mat-card-header>
        <h2 class="text-center">User Update</h2>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="registerForm" (ngSubmit)="updateUser()">
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Type your username" formControlName="id">
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Your Name" formControlName="name">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput placeholder="*********" formControlName="password">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="something@email.com" formControlName="email">
            </mat-form-field>

            <mat-radio-group formControlName="gender" aria-level="Select an Option">
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
            </mat-radio-group>

            <div>
                <button mat-raised-button color="primary">Submit</button>
                <a routerLink="/login" mat-raised-button color="accent">Back to Login</a>
            </div>
        
        </form>

    </mat-card-content>

</mat-card>   -->


  

