<!--<mat-card>

    <div class="container">
    <mat-card-header>
        <h2 class="text-center">Login</h2>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type = "password" matInput formControlName="password">
            </mat-form-field>

            <div>
                <button mat-raised-button color="primary">Submit</button>
                <a routerLink="/register" mat-raised-button color="accent">Back to Signup</a>
            </div>
        
        </form>

    </mat-card-content>
</div>

</mat-card>  -->

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
  <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <h3>Login Here</h3>
  
    <label for="username">Username</label>
    <input type="text" formControlName="username" placeholder="Enter Valid Username" id="username">
  
    <label for="password">Password</label>
    <input type="password" formControlName="password" placeholder="Enter Password" id="password">
  
    <button style="color: black" routerLink="">Log In</button>
    <div class="social">
      <div class="go" routerLink="/register"> <i class="fab fa-google"></i>  Register</div>
       
    </div>
  </form>
  