<app-not-found [visible]="!products" notFoundMessage="Product Not Found!"
resetLinkText="Back To Homepage"></app-not-found>
<div *ngIf="products" class="container">
    <img [src]="products.image" [alt]="products.name" />

    <div class="details">
        <div class="header">
            <span class="name">
                {{products.name}}
            </span>
            <!-- <span class="favorite {{items.favorite?'':'not'}}">
                ❤
            </span> -->
        </div>
        <!--<div class="rating">
            <star-rating [value]="food.stars" [totalstars]="5" checkedcolor="red" uncheckedcolor="black" size="30px"
                [readonly]="true">
            </star-rating>
        </div>

        <div class="origins">
            <span *ngFor="let origin of food.origins">
                {{origin}}
            </span>
        </div>-->

        <!-- <div class="tags">
            <app-tags [foodPageTags]="products.tags" justifyContent="start"></app-tags>
        </div> -->

        <!-- <div class="delivery-time">
            <span>
                Time to deliver about <strong>{{items.deliveryTime}}</strong> minutes
            </span>
        </div> -->

        <div class="price">
            <span>{{products.price|currency}}</span>
        </div>

        <button (click)="addToCart()">Add To Cart</button>
    </div>

</div>
